.chat-list__group {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem; /* 버튼 간의 간격을 균일하게 조정 */
}

.chat-list__button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #007bff;
  color: #007bff;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  background-color: #ffff;
}

.chat-list__button:hover {
  box-shadow: inset 7.5rem 0 0 0 #007bff;
  color: white;
}

.chat-list__u-list {
  list-style-type: none;
  max-height: 40rem;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top:1rem;
}

.chat-list__list {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 1px solid #e0e0e0;
}

.chat-list__list:hover,
.chat-list__list.selected {
  background-color: #f1f3f5;
  box-shadow: inset 7.5rem 0 0 0 #f1f3f5;
}

.chat-list__list:last-child {
  border-bottom: none;
}

.chat-room-name {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #343a40;
}

.chat-room-hashtags {
  padding-left: 1rem;
}

.chat-room-hashtag {
  display: inline-block;
  margin-right: 0.5rem;
  color: #6c757d;
  font-size: 0.85rem;
}

.chat-list__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  max-width: 90%;
  width: 400px;
}

.chat-list__title {
  color: #212529;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.chat-list__wrapper--pw {
  margin-bottom: 1.5rem;
}

.chat-list__subtitle {
  font-size: 1rem;
  color: #495057;
  margin-bottom: 0.5rem;
}

.chat-list__input {
  border: 1px solid #ced4da;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: border-color 0.3s ease;
}

.chat-list__input:focus {
  outline: none;
  border-color: #007bff;
}

.chat-list__button--join {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.chat-list__button--join:hover {
  background-color: #0368d5;
}
