.chat__container {
  display: flex;
  border-top: 0.125rem solid #E0E0E0;
  border-bottom: 0.125rem solid #E0E0E0;
  width: 165rem
}

.chat__box {
  padding: 1rem;
 }

.chat__box--display{
  width: 30%;
  max-height: 40rem;
}

.chat__box--list {
  border-right: 0.125rem solid #E0E0E0;
  padding: 1rem 0;
  width: 12%;
}

.chat__box--member {
  border-left: 0.125rem solid #E0E0E0;
  width: 12%;
  padding: 0;
}