/* ============= noti =============*/
.content {
  display: flex;
  padding: 30px;
}

.notifications {
  width: 70%;
  margin-right: 20px;
}

.notifications__tabs {
  display: flex;
}

.notifications__tabs button {
  /* flex: 1; */
  padding: 10px 70px;
  border: none;
  margin: 0px 5px;
  border-radius: 10px;
  background-color: #e5e5e5;
  cursor: pointer;
  font-size: 15px;
}
.notifications__tabs button:hover {
  background-color: tomato;
  color: white;
}
.notifications__tabs button.active {
  background-color: tomato;
  color: white;
}

.notifications-list {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  height: 80%;
}

.notification {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
}
.notification:hover {
  background-color: #e5e5e5;
}
.notification p {
  margin: 0;
}

.notification__job-view,
.more-options {
  background: none;
  border: none;
  color: tomato;
  cursor: pointer;
}
