/* =================  toggle btn ================ */

.options-menu {
  position: absolute;
  top: 25px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  z-index: 10;
}

.options-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.options-menu button:hover {
  background-color: #e5e5e5;
}
