/* .header {
  margin-top: 20px;
}

.header h1 {
  font-size: 48px;
  color: black;
}

.header h1 span {
  color: tomato;
} */

.main-content__homepage {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 150px 50px 150px;
}

.search-section__homepage {
  text-align: left;
}

.search-section__homepage h2 {
  font-size: 70px;
}
.upper {
  font-size: 75px;
}

.teams {
  font-size: 18px;
  margin: 20px;
  color: #6c757d;
  display: inline-block;
  max-width: 400px;
  word-wrap: break-word;
  white-space: normal;
}

.search-section__homepage input {
  padding: 12px;
  margin-right: 10px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid lightgray;
}

.search-section__homepage button {
  padding: 10px 20px;
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
}

.search-section__homepage button:hover {
  background-color: #fb5607;
}

.sample-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.footer__homepage {
  margin-top: 50px;
  border-top: 0.1px solid lightgrey;
}

.flex-container {
  display: flex;
  align-items: baseline;
  justify-content: center; /* 텍스트 가운데 정렬 */
}

.flex-container h2 {
  margin-right: 10px; /* h2와 p 사이의 간격 */
}
